<a href="https://colab.research.google.com/github/guard1000/NLP/blob/master/GPT_3_Korean_to_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install openai

Collecting openai
  Downloading https://files.pythonhosted.org/packages/59/2d/b3bc2aa663b2c376f073fd141e128ecfb47f3aff95ccee284a74d85a1ef8/openai-0.2.6.tar.gz (157kB)
     |████████████████████████████████| 163kB 10.6MB/s
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from openai) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->openai) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->openai) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->openai) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->openai) (2.10)
Building wheels for collected packages: openai
  Building wheel for openai (setup.py) ... done
  Created wheel for openai: filename=openai-0.2.6-cp36-none-any.whl size=170807 sha256=5594b1ba24a6eccdcba44525af13a5940db84f5957a85b1eef0c57750d4b1e8f
  Stored in directory: /root/.cache/pip/wheels/3c/fe/38/5d427b7efc6ff4508b39945808cd4db1bbe106421960b4f0e3
Successfully built openai
Installing collected packages: openai
Successfully installed openai-0.2.6

In [2]:
import openai

In [3]:
openai.api_key = [발급받은 OpenAI KEY 입력]

In [7]:
from gpt import GPT
from gpt import Example

In [150]:
gpt = GPT(engine="davinci",
          temperature=0.5,
          max_tokens=100)

# English to SQL

few shot learning

In [9]:
gpt.add_example(Example('Fetch unique values of DEPARTMENT from Worker table.', 
                        'Select distinct DEPARTMENT from Worker;'))

In [10]:
gpt.add_example(Example('Print the first three characters of FIRST_NAME from Worker table.', 
                        'Select substring(FIRST_NAME,1,3) from Worker;'))

In [11]:
gpt.add_example(Example("Find the position of the alphabet ('a') in the first name column 'Amitabh' from Worker table.", 
                        "Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';"))

In [12]:
gpt.add_example(Example("Print the FIRST_NAME from Worker table after replacing 'a' with 'A'.", 
                        "Select CONCAT(FIRST_NAME, ' ', LAST_NAME) AS 'COMPLETE_NAME' from Worker;"))

In [13]:
gpt.add_example(Example("Display the second highest salary from the Worker table.", 
                        "Select max(Salary) from Worker where Salary not in (Select max(Salary) from Worker);"))

In [14]:
gpt.add_example(Example("Display the highest salary from the Worker table.", 
                        "Select max(Salary) from Worker;"))

In [15]:
gpt.add_example(Example("Fetch the count of employees working in the department Admin.", 
                        "SELECT COUNT(*) FROM worker WHERE DEPARTMENT = 'Admin';"))

In [16]:
gpt.add_example(Example("Get all details of the Workers whose SALARY lies between 100000 and 500000.", 
                        "Select * from Worker where SALARY between 100000 and 500000;"))

In [17]:
gpt.add_example(Example("Get Salary details of the Workers", 
                        "Select Salary from Worker"))

test

In [18]:
prompt = "Display the lowest salary from the Worker table."
output = gpt.submit_request(prompt)
output.choices[0].text

'output: Select min(Salary) from Worker;\n'

In [19]:
prompt = "Tell me the count of employees working in the department HR."
output = gpt.submit_request(prompt)
output.choices[0].text

"output: SELECT COUNT(*) FROM worker WHERE DEPARTMENT = 'HR';\n"

In [20]:
prompt = "Get salary details of the Workers whose AGE lies between 25 and 35"
print(gpt.get_top_reply(prompt))

output: Select Salary from Worker where AGE between 25 and 35;

# Korean to SQL

few shot learning

In [144]:
gpt.add_example(Example('Worker 테이블에서 DEPARTMENT의 유니크 값 가져와.', 
                        'Select distinct DEPARTMENT from Worker;'))

In [145]:
gpt.add_example(Example('Worker 테이블에서 FIRST_NAME의 첫 세 글자 출력해.', 
                        'Select substring(FIRST_NAME,1,3) from Worker;'))

In [118]:
gpt.add_example(Example("Worker 테이블의 first name이 'Amitabh'에서 알파벳('a')의 위치를 찾아.", 
                        "Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';"))

In [146]:
gpt.add_example(Example("Worker 테이블에서 'a'를 'A'로 바꾼 후 FIRST_NAME을 출력해.", 
                        "Select CONCAT(FIRST_NAME, ' ', LAST_NAME) AS 'COMPLETE_NAME' from Worker;"))

In [147]:
gpt.add_example(Example("Worker 테이블에서 두번째로 높은 급여를 보여줘.", 
                        "Select max(Salary) from Worker where Salary not in (Select max(Salary) from Worker);"))

In [148]:
gpt.add_example(Example("Worker 테이블에서 가장 높은 급여를 표시해.", 
                        "Select max(Salary) from Worker;"))

In [149]:
gpt.add_example(Example("관리자 부서에서 일하는 직원 수를 가져와.", 
                        "SELECT COUNT(*) FROM worker WHERE DEPARTMENT = 'Admin';"))

In [123]:
gpt.add_example(Example("SALARY가 100000에서 500000 사이인 작업자에 대한 모든 정보를 가져와.", 
                        "Select * from Worker where SALARY between 100000 and 500000;"))

In [124]:
gpt.add_example(Example("근로자의 급여 정보 얻기", 
                        "Select Salary from Worker"))

Test

In [33]:
prompt = "AGE 가 25에서 35 사이인 근로자의 급여 정보를 가져와"
print(gpt.get_top_reply(prompt))

output: Select Salary from Worker where AGE between 25 and 35;

In [44]:
prompt = "HR 부서에서 일하는 직원 수는?."
print(gpt.get_top_reply(prompt))

output: SELECT COUNT(*) FROM worker WHERE DEPARTMENT = 'HR';

In [45]:
prompt = "Worker 테이블에서 가장 낮은 급여를 보여줘."
print(gpt.get_top_reply(prompt))

output: Select min(Salary) from Worker;

# **심화 학습**

few shot learning

In [151]:
gpt.add_example(Example('부서테이블의 모든 데이터를 출력하라.', 
                        'SELECT * FROM EMP;'))

In [152]:
gpt.add_example(Example('EMP테이블에서 각 사원의 직업, 사원번호, 이름, 입사일을 출력하라.', 
                        'SELECT JOB, EMPNO, ENAME, HIREDATE FROM EMP;'))

In [153]:
gpt.add_example(Example('EMP테이블에서 직업을 출력하되, 중복되지 않게 출력하라.', 
                        'SELECT DISTINCT JOB FROM EMP;'))

In [154]:
gpt.add_example(Example('급여가 2850 이상인 사원의 이름 및 급여를 표시하는 출력하라.', 
                        'SELECT ENAME, SAL FROM EMP WHERE SAL >= 2850;'))

In [155]:
gpt.add_example(Example('사원번호가 7566인 사원의 이름 및 부서번호를 표시하는 출력하라.', 
                        'SELECT ENAME, DEPTNO FROM EMP WHERE EMPNO=7566;'))

In [156]:
gpt.add_example(Example('급여가 1500이상 2850이하의 범위에 속하지 않는 모든 사원의 이름 및 급여를 출력하라.', 
                        'SELECT ENAME, SAL FROM EMP WHERE SAL NOT BETWEEN 1500 AND 2850;'))

In [157]:
gpt.add_example(Example('1981년 2월 20일 ~ 1981년 5월 1일에 입사한 사원의 이름,직업 및 입사일을 입사일을 기준으로 해서 오름차순으로 정렬하라.', 
                        "SELECT ENAME, JOB, HIREDATE FROM EMP WHERE HIREDATE BETWEEN '1981-02-20' AND '1981-05-01' ORDER BY HIREDATE;"))

In [158]:
gpt.add_example(Example('10번 및 30번 부서에 속하는 모든 사원의 이름과 부서 번호를 출력하되, 이름을 알파벳순으로 정렬하여 출력하라.', 
                        "SELECT ENAME, DEPTNO FROM EMP WHERE DEPTNO IN(10,30) ORDER BY ENAME;"))

In [159]:
gpt.add_example(Example('10번 및 30번 부서에 속하는 모든 사원 중 급여가 1500을 넘는 사원의 이름 및 급여를 출력하라. 컬럼명을 각각 employee 및 Monthly Salary로 지정하시오', 
                        "SELECT ENAME AS 'Employee', SAL AS 'Monthly Salary' FROM EMP WHERE DEPTNO IN(10,30) AND SAL>1500;"))

In [160]:
gpt.add_example(Example('관리자가 없는 모든 사원의 이름 및 직위를 출력하라.', 
                        "SELECT ENAME, JOB FROM EMP WHERE MGR IS NULL;"))

In [161]:
gpt.add_example(Example('커미션을 받는 모든 사원의 이름과 커미션을 출력하되, 커미션을 기준으로 내림차순으로 정렬하여 출력하라.', 
                        "SELECT ENAME,COMM FROM EMP WHERE COMM IS NOT NULL ORDER BY COMM DESC;"))

In [162]:
gpt.add_example(Example('이름의 세 번째 문자가 A인 모든 사원의 이름을 출력하라.', 
                        "SELECT ENAME FROM EMP WHERE ENAME LIKE '__A%';"))

In [163]:
gpt.add_example(Example('이름에 L이 두 번 들어가며 부서 30에 속해있는 사원의 이름을 출력하라.', 
                        "SELECT ENAME FROM EMP WHERE ENAME LIKE '%L%L%' AND DEPTNO=30;"))

In [164]:
gpt.add_example(Example('직업이 Clerk 또는 Analyst 이면서 급여가 3000,5000 이 아닌 모든 사원의 이름, 직업 및 급여를 출력하라.', 
                        "SELECT ENAME, JOB, SAL FROM EMP WHERE JOB IN('CLERK','ANALYST') AND SAL not IN(3000,5000);"))

In [165]:
gpt.add_example(Example('사원번호, 이름 그리고 15% 인상된 급여를 정수로 표시하되 컬럼명을 New Salary로 지정하여 출력하라.', 
                        "SELECT EMPNO, ENAME, ROUND(SAL+(SAL*0.15),0) AS 'New Salary' FROM EMP;"))

In [141]:
gpt.add_example(Example('모든 사원의 급여 최고액, 최저액, 총액 및 평균 급여를 출력하시오. 평균에 대해서는 정수로 반올림하시오.', 
                        "SELECT MAX(SAL), MIN(SAL), SUM(SAL), ROUND(AVG(SAL)) FROM EMP;"))

test

In [167]:
prompt = "1981년에 입사한 사원의 급여 최저액을 구하시오"
print(gpt.get_top_reply(prompt))

output: SELECT MIN(SAL) FROM EMP WHERE YEAR(HIREDATE) = 1981;

In [177]:
prompt = "사번이 1234567 인 직원의 커미션을 구하라."
print(gpt.get_top_reply(prompt))

output: SELECT COMM FROM EMP WHERE EMPNO=1234567;

In [169]:
prompt = "'AIDT추진셀'에 속한 급여 최고액, 최저액, 총액 및 평균 액을 출력하시오"
print(gpt.get_top_reply(prompt))

output: SELECT MAX(SAL), MIN(SAL), SUM(SAL), AVG(SAL) FROM EMP WHERE DEPTNO='AIDT추진셀';

In [172]:
prompt = "'MNO'에 속하고, 급여가 7000 미만이며, 2020년 이후 입사한 사원의 이름, 사원번호, 평균 급여를 구하여라"
print(gpt.get_top_reply(prompt))

output: SELECT ENAME, EMPNO, AVG(SAL) FROM EMP WHERE DEPTNO = 'MNO' AND SAL < 7000 AND HIREDATE > '2020-01-01';

In [209]:
prompt = "이름에 '정'이 들어가고 급여가 8000 이상인 사원의 이름과 평균급여를 출력하시오"
print(gpt.get_top_reply(prompt))

output: SELECT ENAME, AVG(SAL) FROM EMP WHERE ENAME LIKE '%정%' AND SAL>=8000;